@import '../colors.scss';

.right-side-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    height: 91%;
    background: $background-color;

    border: 1px solid black;

    .right-side-panel-bar{
        height: $panel-bar-height;
        background: black;
        color: white;
        padding-top: 5%;
        
        p{
            text-align: center;
            vertical-align: middle;
            font-size: 22px;
            font-weight: 800;

        }
        
    }
    
}