.modal-active {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-hidden, .modal-content-hidden {
  display: none;
}

.modal-content {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: auto;
  z-index: 2;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}

.modal-content .food-modal {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 50vw;
  min-width: 260px;
  border-radius: 5px;
  font-family: Roboto;
}

.modal-content .food-modal .food-modal-header {
  width: 100%;
  color: #00C853;
  font-size: 20px;
  margin-top: 18px;
  margin-left: 33px;
}

.modal-content .food-modal .food-modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .food-modal .food-modal-search form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content .food-modal .food-modal-search .food-modal-search-input, .modal-content .food-modal .food-modal-search .food-modal-search-button {
  border: 1.3px solid #00C853;
  border-radius: 5px;
}

.modal-content .food-modal .food-modal-search .food-modal-search-input {
  width: 100%;
  padding: 0 6px;
  margin-right: 32px;
}

.modal-content .food-modal .food-modal-search .food-modal-search-button {
  padding: 1% 4%;
  width: 120px;
  font-size: 16px;
  background: #ffffff;
  font-weight: bold;
  color: #00C853;
}

.modal-content .food-modal .food-modal-search .food-modal-search-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .food-modal-search .food-modal-search-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .food-modal-search .food-modal-search-button:focus {
  outline: none;
}

.modal-content .food-modal .food-modal-table-container {
  display: block;
  overflow: auto;
  max-height: 450px;
}

.modal-content .food-modal .food-modal-table {
  width: 100%;
  display: table;
  border-spacing: 0px;
  border-bottom: 1px solid #ccc;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row {
  display: table-row;
  width: auto;
  clear: both;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row:nth-child(even) {
  background: #f0f0f0;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row:first-child {
  background-color: #00C853;
  border-radius: 3px 3px 0 0;
  color: white;
  font-weight: bold;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row:first-child:hover {
  cursor: default;
  background-color: #00C853;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row:last-child {
  border-bottom: 1px solid black;
}

.modal-content .food-modal .food-modal-table .food-modal-table-row:hover {
  background: #d3d3d3;
  cursor: pointer;
}

.modal-content .food-modal .food-modal-table .food-modal-table-col {
  float: left;
  /* fix for  buggy browsers */
  display: table-column;
  width: 33.3%;
  text-align: center;
  padding: 6px 0;
}

.modal-content .food-modal .food-modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-nutrition {
  height: 10vh;
  width: 60%;
  background-color: #00C853;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
  margin-right: 33px;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 18px 0;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-input input {
  width: 20%;
  margin: 0 6px;
  padding: 4px 6px;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add input, .modal-content .food-modal .food-modal-bottom .food-modal-bottom-add select, .modal-content .food-modal .food-modal-bottom .food-modal-bottom-add button {
  border: 1.3px solid #00C853;
  border-radius: 5px;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-button {
  padding: 2% 0%;
  width: 80px;
  font-size: 16px;
  background: #00C853;
  font-weight: bold;
  color: white;
  float: right;
  margin-bottom: 18px;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .food-modal-bottom .food-modal-bottom-add .food-modal-bottom-add-button:focus {
  outline: none;
}

.modal-content .food-modal .biometric-modal-header {
  width: 100%;
  color: #00C853;
  font-size: 20px;
  margin-top: 18px;
  margin-left: 33px;
}

.modal-content .food-modal .biometric-modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 33px;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-metric-select {
  border: 1.3px solid #00C853;
  border-radius: 5px;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-metric-select {
  width: 100%;
  padding: 6px;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-search-button {
  padding: 1% 4%;
  width: 120px;
  font-size: 16px;
  background: #ffffff;
  font-weight: bold;
  color: #00C853;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-search-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-search-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .biometric-modal-search .biometric-modal-search-button:focus {
  outline: none;
}

.modal-content .food-modal .biometric-modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
  margin: 0 33px;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-input {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-input input {
  margin-right: 6px;
  width: 100%;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add input, .modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add select, .modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add button {
  border: 1.3px solid #00C853;
  border-radius: 5px;
  padding: 6px;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-button {
  padding: 2% 0%;
  width: 80px;
  font-size: 16px;
  background: #00C853;
  font-weight: bold;
  color: white;
  float: right;
  margin-bottom: 18px;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .biometric-modal-bottom .biometric-modal-bottom-add .biometric-modal-bottom-add-button:focus {
  outline: none;
}

.modal-content .food-modal .note-modal-header {
  width: 100%;
  color: #00C853;
  font-size: 20px;
  margin-top: 18px;
  margin-left: 33px;
}

.modal-content .food-modal .note-modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 18px 33px;
}

.modal-content .food-modal .note-modal-search .note-modal-note-name-input {
  border: 1.3px solid #00C853;
  border-radius: 5px;
}

.modal-content .food-modal .note-modal-search .note-modal-note-name-label {
  font-size: 16px;
  font-weight: 500;
}

.modal-content .food-modal .note-modal-search .note-modal-note-name-input, .modal-content .food-modal .note-modal-search .note-modal-note-name-label {
  width: 100%;
  padding: 6px;
}

.modal-content .food-modal .note-modal-search .note-modal-search-button {
  padding: 1% 4%;
  width: 120px;
  font-size: 16px;
  background: #ffffff;
  font-weight: bold;
  color: #00C853;
}

.modal-content .food-modal .note-modal-search .note-modal-search-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .note-modal-search .note-modal-search-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .note-modal-search .note-modal-search-button:focus {
  outline: none;
}

.modal-content .food-modal .note-modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
  margin: 0 33px;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-input {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-input textarea {
  margin-right: 6px;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  font-family: Arial;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-input .note-modal-note-area-label {
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add textarea, .modal-content .food-modal .note-modal-bottom .note-modal-bottom-add select, .modal-content .food-modal .note-modal-bottom .note-modal-bottom-add button {
  border: 1.3px solid #00C853;
  border-radius: 5px;
  padding: 6px;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-button {
  padding: 2% 0%;
  width: 80px;
  font-size: 16px;
  background: #00C853;
  font-weight: bold;
  color: white;
  float: right;
  margin-bottom: 18px;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.14);
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-button:hover {
  cursor: pointer;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-button:active {
  background-color: #82f8b39d;
  color: #4CAF50;
  border-color: #4CAF50;
}

.modal-content .food-modal .note-modal-bottom .note-modal-bottom-add .note-modal-bottom-add-button:focus {
  outline: none;
}
/*# sourceMappingURL=modal.css.map */