$highlight-color: #ff9e5c;
$highlight-text-color: #ffffff;
$background-color: #ffffff;
$background-text-color: #000000;  
$text-family: Roboto, Helvatica, Arial;
$panel-bar-height: 40px;
$main-green: #00C853;
// $main-green: #01c352;
$secondary-green: #4CAF50;
$sub-green: #82f8b39d;