@import '../../colors.scss';

.calendar{
    -webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.14);
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.14);
    font-weight: bold;
    padding:1%;
    height: 100%;


    .calendar-body-hidden{
        display:none;
    }

    .calendar-upper{
        display:flex;
        justify-content: space-between;
        
        .calendar-month-year-text, .calendar-year-text{
            padding: 5% 5%;
            text-align: left;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: 'Roboto';
            color: #01c352;
        }
        .calendar-month-year-text:hover{
            cursor: pointer;
        }
        .calendar-month-arrows{
            display: flex;
            padding: 5%;

            img{
                width: 100%;
                height: auto;
            }

            #reversed-arrow{
                margin-left: 3%;
                transform: rotate(180deg);
            }

            img:hover{
                background: #5af199;
                border-radius: 5%;
                cursor: pointer;

            }
        }
    }

    .calendar-body{
        height: 80%;
        background: $background-color;
        text-align: center;
        display: block;
        



        .calendar-week-days{
            display: flex;
            justify-content: space-between;
            padding: 0 5%;
            font-family: 'Roboto Mono';
            color: #01c352;

        }
        

        .calendar-month{
            margin:auto;


            .calendar-week{

                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 1% 0;

                
                
                .calendar-day, .calendar-day-off{
                    text-align: center;
                    font-family: 'Roboto Mono';
                    font-size: 80%;
                    padding:2%;
                    margin:0;
                    border-radius: 50%;
                    width: 4%;

                    .calendar-day-text{
                        width: 100%;
                    }
                }

                .calendar-day{
                    

                    border: 1.25px solid #01c352;
                    color: #01c352;
                }

                .calendar-day:hover{
                    background-color: #82f8b39d;
                    cursor: pointer;
                }

                .calendar-day-off{
                    border: 1.25px solid grey;
                    color: grey;
                    opacity: 0.5;
                    
                }

                .chosen-day{
                    background: #01c352 !important;
                    color: white;
                }
                
            }
        }
    }
    
    .calendar-months{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 80%;
        margin-top: 22px;
        color: #01c352;

        .calendar-months-chosen-month{
            background: #01c352;
            color: white;
        }

        .calendar-months-chosen-month, .calendar-months-month{
            width: 15%;
            text-align: center;
            padding: 4% 7% ;
            margin: 1% 0;
            
            border: 1px solid #01c352;
            border-radius: 5%;
            cursor: pointer;

            .calendar-months-month-text{
                width: 100%;
            }

        }

        .calendar-months-month:hover{
            color: #01c352;
            border: 1px solid #01c352;
            background-color: #5af199;
        }
    
    }

    
}